# Pandas批量拆分与合并Excel文件

实例演示：
1. 将一个大Excel等份拆成多个Excel
2. 将多个小Excel合并成一个大Excel并标记来源

In [2]:
work_dir='../datas/split_to_merge'
split_dir=f"{work_dir}/split"

import os 
if not os.path.exists(split_dir):
    os.mkdir(split_dir)

## 0. 读取源Excel到Pandas

In [3]:
import pandas as pd

In [4]:
df_source = pd.read_excel(f"{work_dir}/data_level.xlsx")

In [5]:
df_source.head()

       id name ext_name
0      11   北京      北京市
1    1101   北京      北京市
2  110101   东城      东城区
3  110102   西城      西城区
4  110105   朝阳      朝阳区

In [6]:
df_source.index

RangeIndex(start=0, stop=3637, step=1)

In [7]:
df_source.shape

(3637, 3)

In [8]:
total_row_count = df_source.shape[0]
total_row_count

3637

## 一. 将一个大Excel等份拆成多个Excel
1. 使用df.iloc方法，将一个大的dataframe，拆分成多个小dataframe
2. 将使用dataframe.to_excel保存到每个小Excel

### 1. 计算拆分后的每个Excel的行数

In [10]:
# 将这个大的excel,拆分给这几个人
user_names = ["xiao_shuai","xiao_wang","xiao_ming","xiao_lei","xiao_bo","xiao_hong"]

In [12]:
# 每个人的任务数目
split_size = total_row_count // len(user_names)
if total_row_count % len(user_names) != 0:
    split_size += 1
    
split_size

607

### 2. 拆分成多个dataframe

df_subs = []
for idx,user_name in enumerate(user_names):
    # iloc的开始索引
    begin = idx*split_size
    # iloc的结束索引
    end = begin+split_size
    # 实现df按照iloc划分
    df_sub = df_source.iloc[begin:end]
    #将每个子df存入列表
    df_subs.append((idx,user_name,df_sub))

### 3. 将每个dataframe存入excel

In [15]:
for idx,user_name,df_sub in df_subs:
    file_name = f"{split_dir}/data_level_{idx}_{user_name}.xlsx"
    df_sub.to_excel(file_name,index=False)

## 二. 合并多个小Excel到一个大Excel
1. 遍历文件夹，得到要合并的Excel文件列表;
2. 分别读取到dataframe，给每个df添加一列用于标记来源;
3. 使用pd.concat进行df批量合并;
4. 将合并后的dataframe输出到excel;

### 1.遍历文件夹，得到要合并的Excel文件列表

In [16]:
import os
excel_names=[]
for excel_name in os.listdir(split_dir):
    excel_names.append(excel_name)

excel_names

['data_level_0_xiao_shuai.xlsx',
 'data_level_1_xiao_wang.xlsx',
 'data_level_2_xiao_ming.xlsx',
 'data_level_3_xiao_lei.xlsx',
 'data_level_4_xiao_bo.xlsx',
 'data_level_5_xiao_hong.xlsx']

### 2. 分别读取到dataframe

In [18]:
df_list = []

for excel_name in excel_names:
    # 读取每个excel到df
    excel_path=f"{split_dir}/{excel_name}"
    df_split = pd.read_excel(excel_path)
    # 得到username
    username = excel_name.replace("data_level_","").replace(".xlsx","")[2:]
    print(excel_name,username)
    # 给每个df添加1列，即用户名字
    df_split["username"] = username
    
    df_list.append(df_split)

data_level_0_xiao_shuai.xlsx xiao_shuai
data_level_1_xiao_wang.xlsx xiao_wang
data_level_2_xiao_ming.xlsx xiao_ming
data_level_3_xiao_lei.xlsx xiao_lei
data_level_4_xiao_bo.xlsx xiao_bo
data_level_5_xiao_hong.xlsx xiao_hong

### 3. 使用pd.concat进行合并

In [19]:
df_merged = pd.concat(df_list)

In [20]:
df_merged.shape

(3637, 4)

In [22]:
df_merged.head()

       id name ext_name    username
0      11   北京      北京市  xiao_shuai
1    1101   北京      北京市  xiao_shuai
2  110101   东城      东城区  xiao_shuai
3  110102   西城      西城区  xiao_shuai
4  110105   朝阳      朝阳区  xiao_shuai

### 4. 将合并后的dataframe输出到excel

In [23]:
df_merged.to_excel(f"{work_dir}/data_level_merged.xlsx",index=False)